.titleBlock {
  margin-left: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  display: flex;
}

.titleText {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}

.languageInfo {
  display: flex;
}

.xpText {
  margin-left: 1em;
}
